@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  /* font-family: 'Poppins'; */
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #07252d;
  flex-wrap: wrap;
}
h2 {
  position: relative;
  font-size: 10em;
  text-transform: uppercase;
  color: #0e3742;
  letter-spacing: 0.2rem;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  line-height: 0.7em;
  animation: animate 4s linear infinite;
  outline: none;
  flex-wrap: wrap;
}
@keyframes animate {
  0%,
  40%,
  60%,
  90% {
    color: #0e3742;
    text-shadow: none;
  }
  100%,
  30%,
  50%,
  70% ,95%{
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
      0 0 80px #03bcf4, 0 0 160px #03bcf4;
  }
}
@media screen and (max-width: 736px) {
  html {
    font-size: 40%;
  }
  h2 {
    line-height: 9rem;
    padding: 2rem;
    
  }
}
